body{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 16x;
    line-height: 20px;
}

header{
    background-color: #2e64a1;
    padding: 1em 0;
}

header h1{
    color: white;
    font-size: 2.5em;
    font-style: italic;
    font-weight: 100; 
    display: inline-block;
    position: relative;
    bottom: 10px;
}

nav{
    background-color: #6da9ed;
    margin-bottom: 2em;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    width: 16.3%;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.5m 0.4em;
}

nav ul li a:hover{
    background-color: rgba(0,0,0,0.3);
 
}

nav ul li a.activo{
    background-color: rgba(0,0,0,0.3);
 
}

footer{
    background-color: #ccc;
    clear: both;
    color: #333;
    padding: 0.5em 0;
    margin-top: 2em;
    text-align: center;
}


.holder{
    width: 960px;
    margin: auto;
}

h2{
    color:  #f2f2f2
    font-weight: 400;
//**    margin: 0 0 0 1em;**//
}

.left{
    float: left;
}

.right{
    float: right;
}

/* Inicio del Main */
.homeing{
    margin-bottom: 1.5em;
}


.bienvenidos, .testimonios{
    box-sizing: border-box;
}

.bienvenidos{
    width: 50%;
    padding-right: 2em;
   //** background-color: aqua;**/ 
}

.testimonios{
    width: 50%;
   /** background-color: blanchedalmond; **/
}

.testimonio{
    background-color: #ccc;
    padding: 1em;
}

.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 1.4em;
  /**  background-color: bisque; **/
    display:block;
}

.testimonio .autor{
    font-size: 0.7em;
    text-align: center;
    margin: 1em 0;
 /**  background-color: bisque; **/
    display: block;
}


/* INICIP DE NOSOTROS */ I

.historia p{
    font-size: 0.8em;
}

.personas{
    overflow: hidden;
}

.persona{
    width: 25%;
    border: 1px solid gray;
    border-radius: 0.25em;
    float:left;
    margin-left: 2.25em;
    box-sizing: border-box;
}

.persona{
    text-align: center;
}

.persona img{
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin: 0.8em 0 1em;
    max-width: 70%;
}

.persona h5,
.persona h6{
    text-align: center;
    font-weight: normal;
    color: #2e64a1;
    margin: 0;
}

.persona h5{
    font-size: 0.9em;
}

.persona h6{
    font-size: 0.8em;
    font-style: italic;
}

.persona p{
    font-size: 0.7em;
    color:#444;
    margin: 0 1em 1em;
}

.persona:first-child{
    margin-left: 0;
}

/* FIN  DE NOSOTROS */


/* INICIO SERVICIOS */

.servicio{
    border: 1px solid gray;
    border-radius: 0.7em;
    margin: 1em 0;
    padding: 1em;
    overflow: hidden;
}

.servicio .info{
    width: 75%;
}

.servicio .info h4{
    color: #2e64a1;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 500;
    margin: 0 0 1em;
    border-bottom: 1px solid #2e64a1;
    padding-bottom: 0.5em;
}

 .servicio .info p{
     font-size: 0.8em;
     line-height: 1.2em;
 }

.servicio img{
    border-radius: 00.8em;
}

.servicio:nth-child(even) img{
    float: right;
    margin: 0 0 0 1em;
}

.servicio:nth-child(even) .info{
    float: left;
}

.servicio:nth-child(odd) img{
    float: left;
    margin: 0 1em 0 0em;

}

.servicio:nth-child(odd) .info{
    float: right;
}

/* FIN SERVICIOS */

/* INICIO GALERIA */

.galeria .foto{
    display: inline-block;
    width: 18%;
    float: left;
    margin: 1em 0 1em 2.5%;
    border: 1px solid #ddd;
    padding: 0.3em;
    box-sizing: border-box;
}

.galeria .foto img{ 
    display: block;
    width: 100%;
}

/* FIN GALERIA */


/* INICIO CONTACTO  */
.column {
    width:50%;
    padding: 0.625em;
    box-sizing:border-box;
}

.column.left{
    border-right:1px solid #ddd;
}

.column.right p{
    font-size:0.9em;
}

.column.right ul li{
    font-size:0.8em;
}

.formulario label {
    display:inline-block;
    vertical-align:top;
    width: 22%;
}

.formulario input,
.formulario textarea {
    background:#ddd;
    border-radius:5px;
    border:1px solid #999;
    font-size:0.8em;
    padding:0.4em 0.6em;
    width: 90%;
}

.formulario textarea {
    resize:none;
    height:30em;
}

.formulario input[type="submit"] {
    background:#9da9ed;
    box-shadow:0 0 10px rgba(0,0,0,0.4);
    color:white;
    font-size:1em;
    padding:0.4em 0.2em;
    text-align:center;
    width:auto;
}

.formulario .acciones{
    text-align: center;

}
/* FIN CONTACTO

*/