#panelBasePropuestas{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 500px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  background-color: red;
}

#panelBaseCarrera{
  background-color: gray;
  width: 32%;
  height: 200px;
}
