
#backimg{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  background: red;
  width: 80%;
  height: 600px;
  border-radius: 20px;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  position: relative;
}

#backimg:hover{
  box-shadow: 15px 15px 1px white;
}

#editimg{
  border-radius: 20px;
}

#capaAyuda{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
  opacity: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 0;
}
#capaAyuda h1{
  position: absolute;
  color:black;
  z-index: 0;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
}

#backimg:hover > #capaAyuda{
  display: flex;
}
