@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
#panelBaseTCarreras{
  width: 100%;
  display: flex;
  padding-top: 25px;
  flex-direction: column;
  background-color: #373433 ;
  justify-content: center;
  align-items: center;
  height: 1500px;
  margin: 0 auto;
  margin-top: 60px;
  padding-top: 80px;
    padding-bottom: 80px;
}

#panelBaseCarrerasHorizontal{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 30%;
}

#panelCarrera{
  width: 50%;
  background-color: #423f3d  ;
  height: 95%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px solid black;
  transition-property: box-shadow;
  transition-duration: 0.5s;
  border-radius: 10px;
}

#panelCarrera:hover{
  box-shadow: 5px 5px 1px gray;
}

#panelCarrera p{
  color: white;
  margin-top: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

#panelImgCarrera{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-image: url(../img/personas/tec_superior_desarrollo.jpeg);
  background-position: center;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}

#panelDescripcionCarrera{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#panelDescripcionCarrera h1{
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin-top: 50px;
  width: 80%;
}

#botonVerCarreras{
  text-align: center;
  width: 150px;
  height: 50px;
  background: transparent;
  border: 3px solid white;
  margin-bottom: 50px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  transition-property: background-color color;
  transition-duration: 0.5s;
}

#botonVerCarreras:hover{
  background-color: white;
  cursor: pointer;
  color: black;
}
