@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
  margin:0;
  padding: 0;
}

#tituloPrincipal{
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 400px;
  text-align: left;
  background-image: url(../img/home/frente_instituto.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#capaTituloPrincipal{
  position: relative;
  width: 100%;
  height: 400px;
  background-color: white;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  filter: opacity(0.2);
}

#tituloPrincipal h1{
    position: absolute;
    right: 100px;
    font-family: 'Bebas Neue', cursive;
    text-align: justify;
    color: black;
    font-size: 70px;
}

body{
  background-image: linear-gradient(to left,   #49dea5  ,  #3fb7ca  );
}

nav{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: flex-start;
    list-style: none;
    text-align: center;
    height: 100%;
    width: 80%;
}

nav ul li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    height: 100%;
    transition-property: background-color;
    transition-duration: 0.5s;
    padding: 5px;
}


nav ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
}

#campusVirtual{
  transition-property: background-color;
  transition-duration: 0.8s;
}

#campusVirtual:hover{
  background-color:  #d8751c ;
}

nav ul li:hover{
    background-color:    #c8caca;
}

nav ul li img{
  margin-right: 10px;
  margin-bottom: 5px;
}
