#panelBaseTCarreras{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 900px;
  margin: 0 auto;
  margin-top: 40px;
}

#panelBaseCarrerasUno{
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

#panelBaseCarrerasDos{
  background-color: black;
  width: 100%;
  height: 50%;
}

#panelCarrera{
  width: 25%;
  height: 90%;
  margin: 10px;
  display: flex;
  flex-direction: column;;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 15px;
  border: 2px solid white;
}
