@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
  margin:0;
  padding: 0;
}

#baseTituloPrincipal{
  position:relative;
}

#tituloPrincipal{
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 400px;
  text-align: left;
  background-image: url(../img/home/frente_instituto.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: blur(3px);
}

#capaTituloPrincipal{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: red;
}

#capaTituloPrincipal span{
    position: absolute;
    font-family: 'Bebas Neue', cursive;
    text-align: justify;
    color: black;
    font-size: 50px;
}

article{
  background-image: linear-gradient(to left,   #49dea5  ,  #3fb7ca  );
}


nav{
    width: 100%;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#campusVirtual:hover{
  background-color:  #d8751c ;
}

nav ul li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 30px;
    border-radius: 8px;
    transition-property: background-color;
    transition-duration: 0.5s;
    padding: 5px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;

}

nav ul li:hover{
    background-color:    #c8caca;
}

footer{
    background-color: #ccc;
    clear: both;
    color: #333;
    padding: 0.5em 0;
    margin-top: 2em;
    text-align: center;
}

nav ul li img{
  margin-right: 10px;
  margin-bottom: 5px;
}
