@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Condensed:wght@700&display=swap');
#panelbienvenidos{
  width: 80%;
  height: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

#bienvenidos_left{
  width: 65%;
  margin-right: 50px;
}

#bienvenidos_left p{
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  font-size: 18px;
}

#bienvenidos_left h2{
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
}

#testimonios_right{
  width: 35%;
}

#testimonios_right iframe{
  margin-top: 50px;
  border:0;
  border-radius: 10px;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  position: relative;
}

#testimonios_right iframe:hover{
  box-shadow: 15px 15px 1px gray;
}
